<div class="cpanel">
    <p> Control Panel </p>
    <%= link_to '/filter/sentiment', '/filter/sentiment', remote: true %> <br>
    <%= link_to '/filter/popularity', '/filter/popularity', remote: true %> <br>
    <%= link_to '/filter/poster_frequency', '/filter/poster_frequency', remote: true %> <br>
    <%= link_to '/filter/closeness', '/filter/closeness', remote: true %> <br>
    <%= link_to '/filter/verified', '/filter/verified', remote: true %> <br>
</div>
