<div class="tweet">
  <div class="container-fluid">
    
    <!-- retweeted by -->
    <% if retweet?(t) %> <!-- This is checking for retweet or not -->
      <div class="row">
        <div class="col-xs-12">
          <a href="<%=t.user_url%>"><%=t.user_screen_name%></a> Retweeted
        </div>
      </div>
    <% end %>

    <div class="row">
      <% if retweet?(t) %>
        <div class="col-xs-1">
          <a target="_blank" href="<%=t.retweet_user_url%>"><img class='profileimg' src="<%=t.retweet_user_profile_img%>"></a>
        </div>
        <div class="col-xs-11">
          <a target="_blank" href="<%=t.retweet_user_url%>"><b><%=t.retweet_user_name%></b></a><span style='color: #808080;'>@<%=t.retweet_user_screen_name%></span> • <%=time_ago_from_string t.tweet_created_at%>
      <% else %>
        <div class="col-xs-1">
          <a target="_blank" href="<%=t.user_url%>"><img class='profileimg' src="<%=t.user_profile_img%>"></a>
        </div>
        <div class="col-xs-11">
          <a target="_blank" href="<%=t.user_url%>"><b><%=t.user_name%></b></a> <span style='color: #808080;'>@<%=t.user_screen_name%></span> • <%=time_ago_from_string t.tweet_created_at%>
      <% end %>
      <br>
      <%=format_tweet_text(t.text)%>
        </div>

    </div>
  </div>
</div>
<hr>
