<div class="container-fluid">
    <div class="col-xs-12">
        <div class="feed">
            <form action="/feed1" method="get">
                <% $tweets.each do |tweet| %>
                    <div class="row vertical-align">

                            <div class="col-xs-8">
                                <%= render partial: 'tweets/tweet', locals: { tweet: tweet } %>
                            </div>

                            <div class="col-xs-4">
                                <fieldset id="<%= tweet.id %>">
                                    <div class="gutter-0 row">
                                        <div class="col-md-4"><input class="input-pick" type="radio" id="yes" name="<%=tweet.id%>" value="y"> Yes </input></div>
                                        <div class="col-md-4"><input type="radio" id="no" name="<%=tweet.id%>" value="n"> No </input></div>
                                        <div class="col-md-4"><input type="radio" id="not_sure" name="<%=tweet.id%>" value="notsure"> Not Sure </input></div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                <% end %>
            </div>
        </div>
        <%= submit_tag "Next", class: "next-button btn btn-default" %>
    </form>
</div>

