<div class="container-fluid">
    <div class="col-xs-12">
        <div class="feed">
            <form action="">
                <% $tweets.each do |tweet| %>
                    <div class="row vertical-align">

                            <div class="col-xs-10">
                                <%= render partial: 'tweets/tweet', locals: { tweet: tweet } %>
                            </div>

                            <div class="col-xs-2">
                                <fieldset id="<%= tweet.id %>">
                                    <input class="input-pick" type="radio" id="yes" name="<%=tweet.id%>" value="y"> Yes </input>
                                    <input type="radio" id="no" name="<%=tweet.id%>" value="n"> No </input>
                                    <input type="radio" id="not_sure" name="<%=tweet.id%>" value="notsure"> Not Sure </input>
                                </fieldset>
                            </div>
                        </div>
                <% end %>
            </div>
        </div>
        <%= link_to raw(" <button class='next-button btn btn-default'> Next </button> "), feed_path %>
    </form>
</div>

